
:root {
  --secondary: #073c68;
  --primary: #d1a30c;
  --danger: #dd1b1b;
}

body,html {
  font-family: 'Roboto', sans-serif;  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  max-width:100%;
  padding-bottom:90px; /* Height of the footer */
}


.navbar {
  max-width: 100%;
  height: 80px;
  color:white;
  background-color: var(--secondary);
  display: flex;
  justify-content: space-between;
  padding:0 0.51em;
  position: sticky;
}

.navbar .navbar__buttons {
  display: flex;
  align-items: center;
}


.navbar .navbar__buttons .btn {
 
  text-decoration: none;
  border-width: 2px;
  border-style:inset;
  text-align:center;
  background: var(--secondary);
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  min-width: 85px;
}
.btn:first-child{
    margin-right: 20px;
}

.navbar .navbar__buttons .btn:hover {
    transition: all 0.3s ease-in-out;
    filter: opacity(0.8);
    cursor: pointer;
}

.navbar .navbar__buttons .btn.btn-primary{
    border-color: var(--primary);
    color: var(--primary);
}
.navbar .navbar__buttons .btn.btn-primary:hover {
  background: var(--primary);
  color:var(--secondary);
}
.navbar .navbar__buttons .btn.btn-delete{
    border-color: var(--danger);
    color: var(--danger);
}
.navbar .navbar__buttons .btn.btn-delete:hover{
    background: var(--danger);
    color:var(--secondary);
}

.label {
    color : var(--secondary);
    display:flex;
    align-items:center;
    padding: 5px 0px 15px 0px;
}

@media (max-width: 669px) {
  .label{
      display:block;
  }
}

.label div:first-child{
    width:120px;
}
.input {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--secondary);
    font-size: 16px;
    transition: opacity 200ms ease-out;
    border-radius: 5px;
}

form {
    padding: 20px;
    max-width:668px;
    margin-top: 10px;
    width :100%;
    margin-left: auto;
    margin-right: auto;
}
.subField h6{
    font-size:14px;
}
.validation{
    color:var(--danger);
    font-size:15px;
    padding:10px 0px
}

.products{
    margin-top:30px;
    --auto-grid-min-size: 16rem;
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;

}

.products > .product {
    margin:10px;
    text-transform: capitalize;
    box-shadow: 0px 0px 5px 1px var(--secondary);
    border-radius: 5px;
    padding: 10px 0px 25px 0px;
}
.card{
    text-align:center;
}
.product .delete-checkbox{
    width:20px;
    position:absolute;
    margin:10px
}
.product p{
    margin:7px 0px;
    font-size: 14px;
}
.product h4{
    color:var(--secondary);
    margin:7px;
    font-size:17px
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: var(--secondary);
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}