
.loader{
    padding-top:50px;
    text-align:center;
}
@keyframes ldio-3gjueinvhob {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-3gjueinvhob div {
     box-sizing: border-box!important ;
     
    }
.ldio-3gjueinvhob > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #611f0a transparent #611f0a transparent;
  animation: ldio-3gjueinvhob 1s linear infinite;
}

.ldio-3gjueinvhob > div:nth-child(2), .ldio-3gjueinvhob > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-3gjueinvhob 1s linear infinite reverse;
}
.ldio-3gjueinvhob > div:nth-child(2) {
  border-color: transparent #8d4b1f transparent #8d4b1f
}
.ldio-3gjueinvhob > div:nth-child(3) { border-color: transparent }
.ldio-3gjueinvhob > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-3gjueinvhob > div:nth-child(3) div:before, .ldio-3gjueinvhob > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #611f0a;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #611f0a;
}
.ldio-3gjueinvhob > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #611f0a;
}

.ldio-3gjueinvhob > div:nth-child(4) { border-color: transparent; }
.ldio-3gjueinvhob > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-3gjueinvhob > div:nth-child(4) div:before, .ldio-3gjueinvhob > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #8d4b1f;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #8d4b1f;
}
.ldio-3gjueinvhob > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #8d4b1f;
}
.loadingio-spinner-double-ring-4kqt9ac9o8 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-3gjueinvhob {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-3gjueinvhob div { box-sizing: content-box; }
/* generated by https://loading.io/ */